/*
Background colors
___________________________________________________________________________
darkest

#333333; - .font-color              - font
#4f4f4f; - .border-color            - borders
#5f5f5f; - .text-editor-background  - text editor background
#757575; - .primary-background      - scrollbar, qsplitter, main window
#858585; - .header-background       - line-numbers, tabs, headers
#a1a1a1; - .light-backgroun         - other stuff
#b2b2b2; - .control-background      - controls

lightest

Accent colors
____________________________________________________________________________
#F2C202; - gold

*/

QLabel,
QMenuBar,
QFontDialog,
QLineEdit,
QTabBar::tab,
QHeaderView::section,
QMenu::item,
QMenuBar::item,
QTableView,
QStatusBar,
QRadioButton,
.font-color,
.header,
.info-viewer
	{
		color: #333333;
	}

QPushButton,
QLineEdit,
QHeaderView::section,
QTabBar::tab,
.border-color,
.header
	{
		border-color: #4f4f4f;
	}

QMenu::separator,
.text-editor-background
	{
		background-color: #5f5f5f;
	}

QLabel,
QMainWindow,
QMenu,
QMenuBar,
QMessageBox,
QScrollBar::handle,
QSplitter::handle,
.primary-background
	{
		background-color: #757575;
	}

QHeaderView::section,
QTabBar::tab:!selected,
.header,
.header-background
	{
		background-color: #858585;
	}
	
QFontDialog,
QInputDialog,
QMenu::item,
QHeaderView::section:selected,
QTabBar::tab:selected,
QTabBar::tab:hover,
QTabWidget::pane,
QWidget#widget_9,
QWidget#tab_ps,
QWidget#tab_sd,
QWidget#tab_bank
	{
		background-color: #a1a1a1;
	}

QPushButton,
QLineEdit,
QTreeView, QTextBrowser, QTableView,
.control-background
	{
		background-color: #b2b2b2;
	}

*[isHovered=true],
QPushButton:hover,
QMenuBar::item:hover,
QMenuBar::item:selected,
QMenuBar::item:pressed,
QMenu::item:selected,
QTableView::item:selected,
QTableCornerButton::section
	{
		background-color: #F2C202;
	}

*[isHovered=false]
	{
		background-color: #858585;
	}

QToolTip {
    alternate-background-color: #3b4045;
    background-color: #31363b;
    border: .1ex solid #eff0f1;
    color: #eff0f1;
    padding: .5ex;
}